/*
 *----------------------
 * Curated Links
 *----------------------
 */

/*
 * Mobile layout
 */

.curated-links {
    margin-bottom: pxToRem(50);
}

 .curated-links__block {

    & + & {
        border-top: 1px solid #bcbcbc;
        margin-top: pxToRem(35);
        padding-top: pxToRem(30);
    }

 }

.curated-links__heading {
    color: #167489;
    font-size: pxToRem(24);
    font-weight: 700;
    margin-bottom: pxToRem(25);
    margin-top: 0;
}


.curated-links__list {
    margin-bottom: 0;
    margin-left: pxToRem(20);
}

.curated-links__list-item {
    
    & + & {
        margin-top: pxToRem(20);
    }

}

.curated-links__list-item-bullet {
    color: #167489;
    font-size: pxToRem(15);
    margin-top: pxToRem(2);
}

.curated-links__list-item-link {
    font-size: pxToRem(18);
    color: #000;

    &:hover,
    &:focus {
        color: #000;
    }
}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){

    .curated-links {
        margin-bottom: pxToRem(30);
    }

    .curated-links--inner {
        display: flex;
        font-family: 'Fira Sans', sans-serif;
    }

    .curated-links__block {
        flex: 1;
        padding-top: pxToRem(30);
        padding-bottom: pxToRem(75);

        & + & {
            margin-top: 0;
            padding-top: pxToRem(30);
            border-top: 0;
            border-left: 1px solid #bcbcbc;
            margin-left: pxToRem(70);
            padding-left: pxToRem(70);
        }
    }

    .curated-links__heading {
        font-size: pxToRem(36);
        margin-bottom: pxToRem(55);
        margin-left: pxToRem(35);
    }

    .curated-links__list-item {
        padding-left: pxToRem(15);

        & + & {
            margin-top: pxToRem(15);
        }

    }

    .curated-links__list-item-bullet {
        font-size: pxToRem(16);
        margin-top: pxToRem(5);
    }
    
    .curated-links__list-item-link {
        font-size: pxToRem(26);
    }
    
}
