/*
 * Mobile layout
 */


#qg-search-widget {
    &.qg-search-filter__wrapper {
        background-color: $light-purple;
        margin-bottom: 94px;
        padding: 16px;
        padding-bottom: 40px;
        position: relative;
    }

    select, .select2-selection--single, .select2-selection__arrow {
        height: 48px;
    }
    
    .select2-selection__placeholder, .select2-selection__rendered {
        line-height: 46px;
    }

    .select2-selection__rendered {
        color: $dark-blue;
        padding-left: 16px;
        padding-right: 52px;
    }

    .select2-selection__arrow {
        padding: 0 24px;
    }

    .btn-primary {
        @include dfv-button-primary();
        width: calc(100% - 32px);
    }

    .btn-primary:hover, .btn-primary:focus {
        color: #fff !important;
        background-color: #316c99;
    }
    .btn-primary:focus {
        box-shadow: none;
    }

    .btn-secondary {
        @include dfv-button-secondary();
    }

    .btn-secondary:hover, .btn-secondary:focus {
        color: #13578b !important;
        background: transparent !important;
        text-decoration: underline !important;
        box-shadow: none;
    }

    .select2-selection--single {
        border-color: $purple;
        border-radius: 0;

        .select2-selection__arrow b {
            border-top-color: #000;
        }
    }

    button[type="submit"], button[type="reset"] {
        left: 16px;
        position: absolute;
    }

    button[type="submit"] {
        bottom: -$medium-spacing;
    }

    button[type="reset"] {
        bottom: -82px;
    }
}

.form-row {
    margin-bottom: 0;
}

.filter__item {
    margin-bottom: $small-spacing;
}

.qg-search-filter__label {
    color: $dark-blue;
    display: inline-block;
}

.qg-rest__wrapper {
    margin-top: $medium-spacing;
}

.qg-search-results {
    margin-top: $medium-spacing;
}

.qg-search-results__list[data-columns] {
    &::before {
        content: '1 .column';
    }
}

.qg-search-results__item {
    margin-bottom: $medium-spacing;
}

.qg-alternate-card {
    border-color: $purple;
}

.support-categories {
    color: $dark-blue;
    font-size: 15px;
}

.support-details {
    border-bottom: 1px solid $purple;
    border-top: 1px solid $purple;
    margin: 10px 0;
    padding: 10px 0;
}

#qg-content #qg-primary-content .card-phone {
    align-items: center;
    color: $dark-blue;
    display: flex;
    font-size: 20px;

    a {
        color: $dark-blue;
        text-decoration: none;
    }

    .fa-icon__wrapper {
        margin-right: 10px;
    }

    .fa {
        font-size: 30px;
    }
}


/*
 * Tablet layout
 */

@media screen and (min-width: $tablet){
    
}


/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    #qg-primary-content {
        padding-left: 50px;
        padding-right: 0;
    }

    #qg-search-widget {
        &.qg-search-filter__wrapper {
            margin-bottom: 110px;
            padding: 36px $medium-spacing 40px $medium-spacing;
        }

        select, .select2-selection--single, .select2-selection__arrow {
            height: 48px;
        }
        
        .select2-selection__placeholder, .select2-selection__rendered {
            line-height: 46px;
        }

        .select2-selection__rendered {
            padding-left: 16px;
            padding-right: 52px;
        }

        .select2-selection__arrow {
            padding: 0 24px;
        }

        .btn-primary {
            padding-left: 58px;
            padding-right: 58px;
            width: 204px;
        }

        button[type="submit"], button[type="reset"] {
            left: $medium-spacing;
        }

        button[type="submit"] {
            bottom: -$medium-spacing;
        }

        button[type="reset"] {
            bottom: -82px;
        }
    }

    .qg-search-results__list[data-columns] {
        margin: 0 -20px;
        
        &::before {
            content: '2 .column';
        }
        
        .column {
            float: left;
            padding: 0 20px;
            width: 50%;
        }
    }

    .qg-search-results__item {
        margin-bottom: 40px;
    }

    .card-body {
        font-size: 16px;
        padding: $medium-spacing;
    }

    .card-title,
    .card-subtitle {
        display: block;
        margin-bottom: 18px;
    }

    .card-subtitle,
    .support-categories {
        font-size: 18px;
    }

    .support-details {
        margin: 14px 0;
        padding: 14px 0;
    }

    #qg-content #qg-primary-content .card-phone {
        font-size: 24px;
    }
}
