/*----------------------
 * Header Util Bar
 *----------------------
 */

/*
 * Mobile layout
 */

.qg-util-bar__inner {
    position: relative;
}

.qg-util-bar__mobile-nav-toggle {
    background-color: transparent;
    border: pxToRem(2) solid #ffffff;
    border-radius: pxToRem(6);
    color: #fff;
    font-size: pxToRem(18);
    height: pxToRem(45);
    position: absolute;
    left: 0;
    top: pxToRem(3);
    padding: 0;
    width: pxToRem(45);

    &:hover {
        background-color: #fff;
        color: #17608a;
    }

    .mobile-nav-active & {
        background-color: #fff;
        color: #17608a;
    }

}

.qg-util-bar__logo--mobile {
    width: pxToRem(100);
}

.qg-util-bar__logo--desktop {
    width: pxToRem(427);
}

.qg-util-bar__widgets {
    display: flex;
    align-items: center;
}

@media screen and (max-width: $desktop - 1px) {

    .qg-util-bar {

        .mobile-nav-active & {
            border-bottom: pxToRem(1) solid #fff;
            margin-bottom: pxToRem(30);
            padding-bottom: pxToRem(30);
        }

    }

    .qg-util-bar__widgets {
        justify-content: center;
    }

    .qg-util-bar__logos {
        margin-bottom: pxToRem(30);
        text-align: center;
    }

    .qg-util-bar__logo--desktop {
        display: none;
    }

}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){
    
    .qg-util-bar {
        background-image: linear-gradient(85deg, #17608a, #149086);
        order: 1;
        overflow: hidden; /* Fix IE11 bug */
        padding-top: pxToRem(20);
        padding-bottom: pxToRem(20);
    }

    .qg-util-bar__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .qg-util-bar__mobile-nav-toggle {
        display: none;
    }

    .qg-util-bar__logos {
        margin-left: 0;
    }

    .qg-util-bar__logo--mobile {
        display: none;
    }

}
