/*----------------------
 * Search Widget
 *----------------------
 */

/*
 * Mobile layout
 */

 .qg-search-widget__form {
    display: flex;
}

.qg-search-widget__field-wrapper {
    flex-grow: 1;
    position: relative;
}

.qg-search-widget__field {
    background-color: transparent;
    border: pxToRem(2) solid #fff;
    border-right: pxToRem(1) solid #fff;
    border-radius: pxToRem(6) 0 0 pxToRem(6);
    color: #fff;
    font-size: pxToRem(20);
    line-height: 1;
    overflow: hidden;
    padding: pxToRem(10);
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
    }
    
    &:-ms-input-placeholder { /* IE 10+ */
        color: #fff;
    }
    
    &:-moz-placeholder { /* Firefox 18- */
        color: #fff;
    }

}

.qg-search-widget__btn-submit {
    background-color: transparent;
    border: pxToRem(2) solid #fff;
    border-left: 0;
    border-radius: 0 pxToRem(6) pxToRem(6) 0;
    color: #fff;
    flex-shrink: 0;
    font-size: pxToRem(18);
    padding: 0;
    width: pxToRem(45);

    &:hover,
    &:focus {
        background-color: #fff;
        color: #17608a;
    }
}

/*
 * Up to desktop layout
 */

@media screen and (max-width: $desktop - 1px) {

    .qg-search-widget {
        width: 100%;
        display: none;

        .mobile-nav-active & {
            display: block;
        }
    }

    .qg-search-widget__btn-toggle {
        display: none;
    }

}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop) {
    
    .qg-search-widget__form {
        display: none;

        .search-form-widget--focused & {
            display: flex;
        }

    }

    .qg-search-widget__field {
        background-color: #fff;
        border-radius: pxToRem(4) 0 0 pxToRem(4);
        color: #000;
        font-size: pxToRem(18);
        width: pxToRem(275);

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #7d7d7d;
        }
    
        &::-moz-placeholder { /* Firefox 19+ */
            color: #7d7d7d;
        }
        
        &:-ms-input-placeholder { /* IE 10+ */
            color: #7d7d7d;
        }
        
        &:-moz-placeholder { /* Firefox 18- */
            color: #7d7d7d;
        }

    }

    .qg-search-widget__btn-submit {
        background-color: #fff;
        border: pxToRem(2) solid #fff;
        border-left: 0;
        border-radius: 0 pxToRem(4) pxToRem(4) 0;
        color: #138e86;
        font-size: pxToRem(20);
        padding: 0;
        width: pxToRem(45);

        &:hover,
        &:focus {
            color: #138e86;
        }
    }

    .qg-search-widget__btn-toggle {
        background-color: transparent;
        border: 0;
        color: #fff;
        font-size: pxToRem(18);
        padding: 0;

        .search-form-widget--focused & {
            display: none;
        }

    }

}