/*
 *----------------------
 * Footer Util
 *----------------------
 */

/*
 * Mobile layout
 */

 .qg-site-footer-util {
    background-color: #f5f5f5;
    padding-top: pxToRem(30);
    padding-bottom: pxToRem(30);
}

.qg-site-footer-util__block {

    & + & {
        border-top: pxToRem(1) solid rgba(0, 0, 0, 0.25);
        margin-top: pxToRem(50);
        padding-top: pxToRem(40);
    }

}

.qg-site-footer-util__heading {
    font-size: pxToRem(26);
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: pxToRem(25);
}

/* Contact Us */
.qg-site-footer-util__contact-us-btn {
    background-color: #063652;
    border-radius: pxToRem(4);
    color: #fff;
    display: inline-block;
    font-size: pxToRem(18);
    font-weight: 600;
    margin-bottom: pxToRem(50);
    padding: pxToRem(20) pxToRem(35);
    text-align: center;
    width: 100%;

    &:hover,
    &:focus {
        color: #fff;
        text-decoration: underline;
    }

}

.qg-site-footer-util__contact-us-phone {
    color: #000;
    display: inline-block;
    font-size: pxToRem(24);
    font-weight: 600;
    margin-bottom: pxToRem(40);
}

.qg-site-footer-util__contact-us-phone-link {

    color: #000;

    &:hover,
    &:focus {
        color: #000;
    }

}

.qg-site-footer-util__contact-us-phone-link-icon {
    font-size: pxToRem(20);
    margin-right: pxToRem(10);
}

.qg-site-footer-util__contact-us-text {
    font-size: pxToRem(14);
    margin-bottom: 0;
}

/* Nearest Service centre */
.qg-site-footer-util__nearest-service-centre-details {
    display: none;

    .qg-site-footer-util__nearest-service-centre--has-result & {
        display: block;
    }

}

.qg-site-footer-util__nearest-service-centre-location-selector-icon {
    font-size: pxToRem(20);
}

.qg-site-footer-util__nearest-service-centre-details {
    margin-bottom: pxToRem(40);
}

.qg-site-footer-util__nearest-service-centre-detail-name {

    color: #000;
    display: inline-block;
    font-size: pxToRem(24);
    text-decoration: underline;
    margin-bottom: pxToRem(30);

    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
    }

}

.qg-site-footer-util__nearest-service-centre-detail-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: pxToRem(30);
}

.qg-site-footer-util__nearest-service-centre-detail-list-item {
    font-size: pxToRem(20);
    padding-left: pxToRem(12);
    margin-bottom: pxToRem(30);
}

.qg-site-footer-util__nearest-service-centre-detail-list-item-icon {
    font-size: pxToRem(20);
    left: pxToRem(-40);
    margin-top: pxToRem(3);
}

.qg-site-footer-util__nearest-service-centre-detail-services-available-link {
    color: #000;
    font-weight: 700;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
    }
}


.qg-site-footer-util__nearest-service-centre-detail-hours-state,
.qg-site-footer-util__nearest-service-centre-detail-distance-from {
    font-weight: 700;
    margin-bottom: pxToRem(20);
}

.qg-site-footer-util__nearest-service-centre-detail-hours-time-to,
.qg-site-footer-util__nearest-service-centre-detail-location-address {
    font-size: pxToRem(14);
    margin-bottom: 0;
}

.qg-site-footer-util__nearest-service-centre-all-link {

    color: #000;
    font-size: pxToRem(16);
    text-decoration: underline;

    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
    }

}

/* Social Media */

.qg-site-footer-util__social-media-list {
    font-size: pxToRem(14);
    margin-left: pxToRem(24);
}

.qg-site-footer-util__social-media-list-item {
    padding-left: pxToRem(15);

    & + & {
        margin-top: pxToRem(15);
    }

}

.qg-site-footer-util__social-media-list-item-link {

    color: #000;
    
    &:hover,
    &:focus {
        color: #000;
    }
}

.qg-site-footer-util__social-media-list-item-icon {
    font-size: pxToRem(21);
}

.qg-site-footer-util__social-media-list-item-icon--youtube {
    font-size: pxToRem(17);
}

.qg-site-footer-util__social-media-list-item-icon--mobile-apps {
    font-size: pxToRem(24);
}

@media screen and (max-width: $desktop - 1) {

    .qg-site-footer-util__contact-us-phone-text {
        display: none;
    }

}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){

    .qg-site-footer-util {
        background-color: #f5f5f5;
        padding-top: pxToRem(50);
        padding-bottom: pxToRem(50);
    }

    .qg-site-footer-util__inner {
        display: flex;
    }

    .qg-site-footer-util__block {
        flex: 1;

        & + & {
            border-top: 0;
            margin-top: 0;
            margin-left: pxToRem(70);
            padding-top: 0;
            padding-left: pxToRem(70);
        }

    }

    .qg-site-footer-util__heading {
        font-size: pxToRem(30);
        margin-bottom: pxToRem(30);
    }

    .qg-site-footer-util__contact-us-btn {
        width: auto;
    }

    .qg-site-footer-util__contact-us-phone-link {
        display: none;
    }

    .qg-site-footer-util__contact-us-text {
        border-top: pxToRem(0.5) solid rgba(0,0,0,0.33);
        font-size: pxToRem(18);
        padding-top: pxToRem(40);
    }

    .qg-site-footer-util__nearest-service-centre-detail-hours-time-to,
    .qg-site-footer-util__nearest-service-centre-detail-location-address {
        font-size: pxToRem(18)
    }

    .qg-site-footer-util__nearest-service-centre-all-link {
        font-size: pxToRem(20);
    }
    
    .qg-site-footer-util__social-media-list {
        margin-left: pxToRem(28);
        font-size: pxToRem(18);
    }

    .qg-site-footer-util__social-media-list-item {
        padding-left: pxToRem(10);
    }

}
