// DFV mixins

@mixin dfv-button() {
    border-radius: 4px;
    display: inline-block;
    font-weight: 500;
    padding: 12px 20px;
    text-decoration: none;
}

@mixin dfv-button-primary() {
    @include dfv-button();
    border-color: $deep-blue;
    background-color: $deep-blue;
    color: #fff;
}

@mixin dfv-button-secondary() {
    @include dfv-button();
    border-color: #fff;
    background-color: #fff;
    color: $deep-blue;
    font-weight: 700;
    padding: 5px;
}

@mixin dfv-button-tertiary() {
    @include dfv-button();
    border-color: $deep-yellow;
    background-color: $deep-yellow;
    color: $dark-blue;
    font-weight: 700;
}

@mixin css-chevron($container-width, $chevron-size, $colour) {
    display: inline-block;
    position: relative;
    width: $container-width;

    &:after {
        border-bottom: 2px solid $colour;
        border-right: 2px solid $colour;
        content: ' ';
        height: $chevron-size;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transition: all 0.3s ease;
        width: $chevron-size;
    }
}

@mixin css-arrow($arrow-width, $arrow-height, $colour) {
    height: $arrow-height;
    flex-shrink: 0;
    position: relative;
    width: $arrow-width;

    &:after,
    &:before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transition: all 0.3s ease;
        width: 100%;
    }

    &:before {
        background-color: $colour;
        height: 2px;
        transform: translateY(-50%);
    }

    &:after {
        border-bottom: 2px solid $colour;
        border-right: 2px solid $colour;
        transform: translateY(-50%) rotate(-45deg);
        width: $arrow-height;
    }
}

@mixin link-states($colour) {
    color: $colour;
    
    &:focus,
    &:active,
    &:hover,
    &:visited {
        color: $colour;
    }
}


// Squiz mixins

@mixin sq-border-box() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin sq-flex-box() {
    .no-js &,
    .no-flexbox & {
        display: table;
    }
    .flexbox & {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

@mixin sq-inline-block() {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

@mixin sq-list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}
