/*
 *----------------------
 * Banner
 *----------------------
 */

/*
 * Mobile layout
 */

.services-banner {
    margin-bottom: pxToRem(25);
    position: relative;
}

.services-banner__caption {
    display: none;
}

@media screen and (max-width: $desktop) {

    .services-banner {
        background-image: none !important;
    }

}

/*
 * Desktop layout
 */

@media screen and (min-width: $desktop){

    .services-banner {
        background-color: #f5f5f5;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: pxToRem(385);
        margin-bottom: pxToRem(60);
        padding-top: pxToRem(40);
    }

    .services-banner__caption {
        
        margin-top: auto;
        overflow: hidden;

        .services-banner--banner-selected & {
            display: block;
        }

    }

    .services-banner__caption-icon {
        align-items: center;
        background-color: #0b0b0b;
        border-top-left-radius: pxToRem(4);
        color: #fff;
        display: flex;
        font-size: pxToRem(20);
        padding: 0 pxToRem(10);
    }

    .services-banner__inner {
        display: flex;
        justify-content: flex-end;
    }

    .services-banner__caption-text {
        background-color: rgba(0, 0, 0, 0.55);
        color: #fff;
        font-size: pxToRem(18);
        font-weight: 600;
        line-height: 1;
        padding: pxToRem(10) 0 pxToRem(10) pxToRem(8);
        position: relative;
        
        &:after {    
            background-color: rgba(0, 0, 0, 0.55);
            content: '';
            height: 100%;
            left: 100%;
            position: absolute;
            top: 0;
            width: 300%;
        }

    }

}
